{% if path %}<a href="/files/{{ path }}/..">&larr; Back</a><br/>{% endif %}
<br/>
Files:<br/>
<ul>
{% for file in files %}
  <li><a href="/files/{% if path %}{{ path }}/{% endif %}{{ file }}">{{ file }}</a></li>
{% empty %}
  <li>empty</li>
{% endfor %}
</ul>
<br/>
<form action="/files/upload/{{ path }}" method="post" enctype="multipart/form-data">
    Select file to upload:
    <input type="file" name="fileToUpload" id="fileToUpload">
    <input type="submit" value="Upload file" name="submit">
</form><br/>

